#root {

  margin: 0 ;
  padding: 0;
  
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.main{
  background-color: #f5f5f5;

}
.Trust{
  background-color: #faf9f5;
}
.card-gg{
  cursor: pointer;
}
@media only screen and (max-width: 1024px)  {
  .main{
  padding-top:50px ;

}
}
::placeholder{
  color: black;
}
.inputs{
  background-color: #f8f8f8;
}
.footer{
  background-color: #091513;
}
@keyframes mega-glow {
  0%, 100% {
    opacity: 0.7;
    filter: blur(18px);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    filter: blur(28px);
    transform: scale(1.08);
  }
}

.animate-mega-glow {
  animation: mega-glow 2.5s ease-in-out infinite;
}
